@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

div {
    display: flex;
}

body {
    width: 100vw;
    height: 300vh;
    display: flex;
    justify-content: center;
}

#pageContent {
    width: 935px;
    display: flex;
}

#headbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 54px;
    flex: none;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    justify-content: center;
}

#headbarContent {
    width: 935px;
    flex: none;
    justify-content: space-between;
}

#logo {
    width: 146px;
    justify-content: space-between;
    align-items: center;
}

#logoSeparationBar {
    width: 1px;
    height: 22px;
    background: #DBDBDB;
}

#searchbox {
    align-items: center;
}

#searchbar {
    width: 215px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    text-align: center;
    justify-self: center;
}

#menu {
    width: 148px;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 22px;
    height: 22px;
}

#storiesBox {
    margin-top: 88px;
    height: 118px;
    width: 614px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.storiesBackground {
    width: 66px;
    height: 66px;
    background-image: url(media/stories_background.jpg);
    border-radius: 33px;
}

.storiesProfile {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

#9gag {
    background-image: url(media/9gag.png);
}